/*!*****************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/css-loader@7.1.2/node_modules/css-loader/dist/cjs.js!./src/index.css ***!
  \*****************************************************************************************************/
html {
  background-color: #fff;
  font-size: 14px;
  font-family: system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
